body {
	background-color: #eeeeee;
	font-size: 12px;
	color:#564b47;
	padding:20px;
	margin:0px;
	text-align: center;
}
#content {
	text-align: left;
	vertical-align: middle;
	margin: 0px auto;
	padding: 10px;
	width: 550px;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
}
.example {
	border: 1px;
	padding: 20px;
	border-bottom: 1px solid #555555;
}
h1.example {
	font-size: 70%;
}
.example.image {
	text-align: center;
}
